

*{
  margin:40;
  padding:9;
  font-size:large;
}
div{
  padding-top:6px;
  padding-left:50px;
}
@media screen and(max-width: 1000px) {
  *{
    padding:3;
  }
  div{
    padding-left:10px;
  }
  .view{
    width:97%;
    height:100%;
  }
}

.title-large{
  font-size:34px;
  color: #ff0000;
}
/*ボタン関係ここから--------*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 80.0%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  
    margin-left: 200px;
    margin-right: auto
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
/*ボタン関係ここまで*/

.brank{
  margin:10px;
}
.view{
}
.log{
  background-color: #ccdfcc;
  font-size: 12px;
}
.red{
  color: #ff0000;
  display: inline-block;
  _display: inline;
}

.CO{
  font-size:8px;
}